%div.row
  .col-lg-4.col-md-4.col-sd-4
    %h2.h2
      Converter
    = form_tag(url_for(action: "index"), remote: true) do
      %label
        JPY
      = text_field_tag :form_jpy, nil, {id: "CONVERT-JPY", class: "form-control converter-form", style: "width: 100px;"}
      %label
        BTC
      = text_field_tag :form_btc, nil, {id: "CONVERT-BTC", class: "form-control converter-form", style: "width: 100px;"}
      %label
        ZNY
      = text_field_tag :form_zny, nil, {id: "CONVERT-ZNY", class: "form-control converter-form", style: "width: 100px;"}

  .col-lg-4.col-md-4.col-sd-4
    %h2.h2
      %a{ href: "http://zenyhime.sigruru.com/", target: "_blank"  }
        ZenyHime
    = form_tag(url_for(action: "generate_tweet")) do
      %span
        投げ銭ツイートをしてみる！
      %br
      %br
      %label
        Tipする相手
      = text_field_tag :screen_name, nil, {class: "form-control converter-form", placeholder: "TwitterID", style: "width: 150px;"}
      %label
        投げ銭する額
      = text_field_tag :amount, nil, {class: "form-control converter-form", placeholder: "Amount",style: "width: 150px;"}
      = submit_tag "Generate", {class: "form-control generate-button"}

  .col-lg-4.col-md-4.col-sd-4
    %h2.h2
      Links to Services
    %ul.list-group
      %li.list-group-item
        %a{ href: "http://bitzeny.org/", target: "_blank" }
          BitZeny公式サイト
      %li.list-group-item
        %a{ href: "http://nagesen-ch.com/", target: "_blank"  }
          なげせんch
      %li.list-group-item
        %a{ href: "https://twitter.com/zenyhime", target: "_blank" }
          ぜにぃ姫@BitZeny投銭Bot（Twitter）
      %li.list-group-item
        %a{ href:"http://bitzeny.cswiki.jp/", target: "_blank"  }
          暗号通貨ＢｉｔＺｅｎｙまとめＷｉｋｉ
      %li.list-group-item
        %a{ href: "https://zeny.ck9.jp/", target: "_blank" }
          JPY/Bitzeny chart
      %li.list-group-item
        %a{ href: "https://lapool.me/bitzeny/index.php?page=login", target: "_blank" }
          LA BitZeny Pool

  .col-lg-4.col-md-4.col-sd-4
    %h2.h2
      Exchanges
    %ul.list-group
      %li.list-group-item
        %a{ href: "https://c-cex.com/?p=zny-btc", target: "_blank"  }
          C-CEX
      %li.list-group-item
        %a{ href: "https://stocks.exchange/trade/ZNY/BTC" }
          Stocks.exchange
      %li.list-group-item
        %a{ href: "https://wallet.crypto-bridge.org/market/BRIDGE.BTC_BRIDGE.ZNY", target: "_blank"  }
          CryptoBridge（Decentralized Exchange）

  .col-lg-4.col-md-4.col-sd-4
    %h2.h2
      Links to Developers
    %ul.list-group
      %li.list-group-item
        %a{ href: "https://github.com/BitzenyCoreDevelopers/bitzeny", target: "_blank"  }
          Github Repository
      %li.list-group-item
        %a{ href: "https://github.com/onokatio", target: "_blank"  }
          onokatio(Github)
      %li.list-group-item
        %a{ href: "https://github.com/Sukorice", target: "_blank" }
          Sukorice(Github)
      %li.list-group-item
        %a{ href: "https://github.com/zenywallet", target: "_blank" }
          zenywallet(Github)
      %li.list-group-item
        %a{ href: "https://twitter.com/Nagesen_ch", target: "_blank"  }
          Nagesen_ch(Twitter)

  .col-lg-4.col-md-4.col-sd-4
    %h2.h2
      Others
    %ul.list-group
      %li.list-group-item
        %a{ href: "https://twitter.com/tomotomo_9696/status/938796944893272065", target: "_blank" }
          tomotomo9696さんのツイート


:javascript
  $(function() {
    function update_last_price(id, url) {
      $(id).fadeOut('fast');
      $.get(url, function(json) {
        $(id).text(json.last_price);
      });
      $(id).fadeIn('fast');
    }

    var update_all = function() {
      update_last_price('#ZNY_JPY_LAST_PRICE', '/api/?q=zny_jpy');
      update_last_price('#ZNY_BTC_LAST_PRICE', '/api/?q=zny_btc');
    };
    update_all();
    setInterval(update_all, 10000);
  });

:javascript
  $(function() {
    var PRECISION = 10000;
    var BTC_PRECISION = 10000000;
    var CAROUSEL_PRECISION = 10;
    var url_zny_jpy = '/api/?q=zny_jpy';
    var url_zny_btc = '/api/?q=zny_btc';
    var last_price_zny_jpy = 0;
    var last_price_zny_btc = 0;
    function update_last_price() {
      $.get(url_zny_jpy, function(json) {
        last_price_zny_jpy = json.last_price;
      });
      $.get(url_zny_btc, function(json) {
        last_price_zny_btc = json.last_price;
      });
    }

    update_last_price();
    setInterval(update_last_price, 10000);

    $('#CONVERT-JPY').keyup(function(e) {
      var jpy = $('#CONVERT-JPY').val();
      $('#CONVERT-ZNY').val(parseInt(jpy / last_price_zny_jpy * PRECISION) / PRECISION);
      $('#CONVERT-BTC').val(parseInt((jpy / last_price_zny_jpy) * last_price_zny_btc * BTC_PRECISION) / BTC_PRECISION);
    });
    $('#CONVERT-ZNY').keyup(function(e) {
      var zny = $('#CONVERT-ZNY').val();
      $('#CONVERT-JPY').val(parseInt(last_price_zny_jpy * zny * PRECISION) / PRECISION);
      $('#CONVERT-BTC').val(parseInt(zny * last_price_zny_btc * BTC_PRECISION) / BTC_PRECISION);
    });
    $('#CONVERT-BTC').keyup(function(e) {
      var btc = $('#CONVERT-BTC').val();
      $('#CONVERT-ZNY').val(parseInt((btc / last_price_zny_btc) * PRECISION) / PRECISION);
      var zny = btc / last_price_zny_btc;
      $('#CONVERT-JPY').val(parseInt(last_price_zny_jpy * zny * PRECISION) / PRECISION);
    });

    function update_carousel_price() {
      $('.CAROUSEL-PRICE').each(function() {
        var jpy = $(this).attr('data-jpy');
        if (last_price_zny_jpy > 0) {
          $(this).text((parseInt(jpy / last_price_zny_jpy * CAROUSEL_PRECISION) / CAROUSEL_PRECISION) + ' zny');
        } else {
          $(this).text(jpy + "円");
        }
      });
    }
    update_carousel_price();
    setInterval(update_carousel_price, 10000);
  });

